<!doctype html>

<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<title>Help</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/milestone.css" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->        
  </head>

  <body>	
  	<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
  		<h1>
  			<span class="btn-left" id="btn-back"><a href='/menu'>Back</a></span>
  			Help
  		</h1>
  	</nav>
  	<div class="container help-wrapper">
  		<strong>Milestone</strong> is an application carefully designed to support you in maintaining your motivation for reaching your goals, step by step. 

  		<h3>How does it work?</h3>
  		<p>First you need to think of something you are excited about doing, this will be your goal.</p>

  		<p>A goal can seem very overwhelming at times but, if you break it into smaller, manageable tasks, suddenly each step seems not-so-intimidating anymore, right? We call each of these steps a milestone.</p>

  		<p>Hey! Life is never one dimensional, so why not have multiple goals! Just assign a color for each different goal and you will be accomplishing multiple projects in no time.</p>

  		<h3>How do milestones work?</h3>
  		<p>Milestones are the smaller sequential tasks you need to accomplish in order to reach your goal. You can choose when each task needs to be completed by.  All milestones within the same project will be displayed on your Timeline homepage. Yes, all of them will be displayed because when the going gets tough, it is always helpful to remember how far you have already walked.</p>

  		<h3>Updating milestones, how does that work?</h3>
  		<p>Every time you log-in, besides being delighted to see you, a pop-up will appear and ask you to update the pending milestones.
  		Whether you completed your milestone or need to reschedule, this will only take a second to fill out.</p>

  		<h3>In my timeline, how can I switch between goals?</h3>
  		<p>You can click on the  ___ button and select the name of the goal you want to view. Your timeline will then show the corresponding milestones for that goal (you can recognize them because they will use the color tag you chose for that specific goal).</p>

  		<p>At Milestone, reaching your goals step by step we have only one goal: to help you reach yours! To let us know how are we are doing, or what we could do better contact us at customersuggestions@milestone.com</p>

  		<p>Future FAQ questions to be answered according to implemented interface:</p>
  		<h3>-Can I set up notifications for my milestones?</h3>
  	</div>


  	<script src="/js/jquery-1.11.0.js"></script>
  	<script src="/js/bootstrap.js"></script>

  </body>
  </html>
