/* global styles */

* {
	font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

/* main app styles */

.navbar {
	height: 44pt;
	background-color: #323232;
	border: none;
	opacity: 0.9;
}

.navbar h1 {
	margin: 0px auto;
	margin-top: 14pt;
	width: 100%;
	padding: 0pt 10pt 0pt 10pt;
	font-size: 16pt;
	text-align: center;
	color: white;
}

#btn-add {
	float: right;
	color: white;
	font-size: 16pt;
}

#btn-cancel {
	float: left;
	color: white;
	font-size: 16pt;
}

.date {
	font-size: 10pt;
	margin-left: 8pt;
	color: #8f8f8f;
}

.timeline-wrapper {
	margin-top: 48pt;
	max-width: 420pt;
	margin-left: 0pt auto;
	margin-right: 0pt auto;
}

.form-wrapper {
	margin-top: 60pt;
	max-width: 420pt;
	margin-left: 0pt auto;
	margin-right: 0pt auto;
}

.event {
	max-width: 500pt;
	background-color: #347edb;
	border-radius: 5pt;
	min-height: 44pt;
	margin: 8pt 0pt 4pt 0pt;
}

.event-incomplete {
	background-color: #aecbf1;
}

.event .event-description {
	padding: 8pt 0pt 8pt 8pt;
	font-size: 14pt;
	color: white;
	line-height: 18pt;
}

.event .event-complete-time {
	position: absolute;
	padding: 6pt 0pt 6pt 8pt;
	float: left;
	font-size: 10pt;
	color: rgba(255, 255, 255, 0.7);
}

.event .milestone-progress {
	position: relative;
	padding: 6pt 6pt 6pt 8pt;
	font-size: 10pt;
	float: right;
	color: rgba(255, 255, 255, 0.7);
}

.add-milestone {
	color: white;
	font-weight: bold;
}

.event-add .event-description {
	padding: 12pt 0pt 0pt 0pt;
	margin: 0px;
	text-align: center;
}

.milestone-list {
	width: 100%;
	margin-bottom: 10pt;
}

.milestone-list .btn {
	height: 30pt;
	width: 100%;
}

/* login/signup styles */

.login-header {
	max-width: 300pt;
	text-align: center;
	margin: 0px auto;
	margin-top: 40pt;
	margin-bottom: 40pt;
	color: #00588b;
}

.login-header h1, h2 {
	font-weight: lighter;
}

.login-header h2 {
	margin-top: 0px;
	font-size: 12pt;
}

#login-box {
	width: 260pt;
	max-width: 90%;
	margin: 0pt auto;
}

.form-control {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10pt;
	background-color: #f1f1f1;
	border: none;
	-webkit-box-shadow: none;
}

.form-control:focus {
	background-color: #dbdbdb;
	-webkit-box-shadow: none;
}

.buttons {
	margin: 0px auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.btn-login {
	background-color: #86c033;
	color: white;
	width: 100%;
	margin-bottom: 20pt;
}

.btn-login:hover {
	color: #ddebc8;
}

.btn-register {
	background-color: white;
	width: 100%;
	color: #86c033;
}

.btn-register:active {
	-webkit-box-shadow: none;
}

/* add goal screen styles */

.form-goal {
	position: relative;
	float: left;
	max-width: 60%;
}

.form-color {
	position: relative;
	float: right;
	max-width: 38%;
}

.form-day {
	float: left;
	max-width: 20%;
}

.form-year {
	float: right;
	max-width: 30%;
}

.form-month {
	max-width: 40%;
}

