/* global styles */

body {
	font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

/* styles for first run help dialogs */
.help {
	font-size: 16pt;
	text-align: center;
	line-height: 22pt;
	color: #636363;
	padding-left: 16pt;
	padding-right: 16pt;
}

.help-wrapper {
	margin-top: 60pt;
}


/* main app styles */

.navbar {
	height: 34pt;
	background-color: #323232;
	/*only if you want special stuff*/
	/*border-bottom: 1px solid black;
	box-shadow: 0px 0px 3px #6b6b6b;*/
	opacity: 0.9;
}

.navbar h1 {
	margin: 0px auto;
	margin-top: 10pt;
	width: 100%;
	padding: 0pt 8pt 0pt 8pt;
	font-size: 16pt;
	text-align: center;
	color: white;
}

.btn-right {
	float: right;
	color: white;
	font-size: 18pt;
	margin-top: -2pt;
	font-family: "Glyphicons Halflings" !important;
}

.btn-left {
	float: left;
	color: white;
	font-size: 18pt;
	margin-top: -2pt;
	font-family: "Glyphicons Halflings" !important;
}

.btn-left-mini {
	padding-left: 8pt;
	float: left;
	color: white;
	font-size: 12pt;
	margin-top: -2pt;
	font-family: "Glyphicons Halflings" !important;
}

.btn-right-mini {
	padding-right: 8pt;
	float: right;
	color: white;
	font-size: 12pt;
	margin-top: -2pt;
	font-family: "Glyphicons Halflings" !important;
}

.date {
	font-size: 10pt;
	margin-left: 8pt;
	color: #636363;
}

.timeline-wrapper {
	margin-top: 36pt;
	max-width: 420pt;
	margin-left: 0pt auto;
	margin-right: 0pt auto;
	padding: 0px 10px 0px 10px;
}

.form-wrapper {
	margin-top: 60pt;
	max-width: 420pt;
	margin-left: 0pt auto;
	margin-right: 0pt auto;
}

.menu-wrapper {
	margin-top: 30pt;
	max-width: 420pt;
	margin-left: 0pt auto;
	margin-right: 0pt auto;
}

.help-wrapper {
	margin-top: 60pt;
	max-width: 420pt;
	margin-left: 0pt auto;
	margin-right: 0pt auto;
}

.event {
	max-width: 500pt;
	background-color: #aecbf1;
	border-radius: 5pt;
	min-height: 44pt;
	margin: 8pt 0pt 4pt 0pt;
}

.event-overdue {
	background-color: #a61313;
}

.event-incomplete {
	background-color: #347edb;
}

.event .event-description {
	padding: 8pt 0pt 8pt 8pt;
	font-size: 14pt;
	color: white;
	line-height: 18pt;
}

.event .event-complete-time {
	position: absolute;
	padding: 6pt 0pt 6pt 8pt;
	float: left;
	font-size: 10pt;
	color: rgba(255, 255, 255, 0.7);
}

.event .milestone-progress {
	position: relative;
	padding: 6pt 6pt 6pt 8pt;
	font-size: 10pt;
	float: right;
	color: rgba(255, 255, 255, 0.7);
}

.add-event {
	background-color: #86c033;
	color: white;
}

.add-event-description {
	text-align: center;
	font-size: 16pt;
	padding-top: 10pt;
	font-weight: bolder;
}

.add-event-header {
	padding: 8pt 0pt 0pt 0pt;
	font-size: 11pt;
	text-align: center;
}

.add-event .form-group {
	padding: 5pt;
}

.add-event .form-control {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5pt;
	background-color: #f1f1f1;
	border: none;
	-webkit-box-shadow: none;
}

.select {
	text-align: center;
	color: black;
	padding: 0pt 0pt 10pt 0pt;
}
.milestone-list {
	width: 100%;
	margin-bottom: 10pt;
}

.milestone-list .btn {
	height: 30pt;
	width: 100%;
}

/* individual goal timelines */
.goal-header {
	padding-top: 32pt;
	background-color: #e9f0f8;
}

.goal-wrapper {
	max-width: 420pt;
	margin-left: 0pt auto;
	margin-right: 0pt auto;
	padding: 0px 10px 10px 10px;
	margin-bottom: -36pt;
}

.goal-info {
	line-height: 18pt;
}

.complete-by {
	color: #636363;
}

.num-milestones {
	color: #636363;
}

.complete-all {
	float: left;
}

.edit-goal {
	float: right;
}

.meter { 
	height: 12px; 
	position: relative;
	background-color: #becbe0;
	border-radius: 25px;
	padding: 3px;
}

@-webkit-keyframes expandWidth {
from {width: 0;}
}

.meter > span {
	display: block;
	height: 100%;
	border-radius: 20px;
	background-color: #347edb;
	position: relative;
	overflow: hidden;
	-webkit-animation: expandWidth 1s;
}

.add-goal {
	background-color: #86c033;
	color: white;
	text-align: center;
}

.add-goal:hover {
	background-color: #86c033 !important;
	color: #ddebc8;
}


/* login/signup styles */

.login-header {
	max-width: 300pt;
	text-align: center;
	margin: 0px auto;
	margin-top: 40pt;
	margin-bottom: 40pt;
	color: #00588b;
}

.login-header h1, h2 {
	font-weight: lighter;
}

.login-header h1 a {
	color: #00588b;
	text-decoration: none;
}

.login-header h2 {
	margin-top: 0px;
	font-size: 12pt;
}

#login-box {
	width: 260pt;
	max-width: 90%;
	margin: 0pt auto;
}

.form-control {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10pt;
	background-color: #f1f1f1;
	border: none;
	-webkit-box-shadow: none;
}

.form-control:focus {
	background-color: #dbdbdb;
	-webkit-box-shadow: none;
}

.buttons {
	margin: 0px auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.btn-login {
	background-color: #86c033;
	color: white;
	width: 100%;
	margin-bottom: 20pt;
}

.btn-login:hover {
	color: #ddebc8;
}

.btn-register {
	background-color: white;
	width: 100%;
	color: #86c033;
}

.btn-register:active {
	-webkit-box-shadow: none;
}

/* add goal screen styles */

.form-goal {
	position: relative;
	float: left;
	max-width: 60%;
}

.form-color {
	position: relative;
	float: right;
	max-width: 38%;
}

.form-day {
	float: left;
	max-width: 20%;
}

.form-year {
	float: right;
	max-width: 30%;
}

.form-month {
	max-width: 40%;
}

#goal-name-hack {
	display:none;
}

.black{
	color: black;
}
